{% extends "layout.html" %} {% block title %} Games {% endblock %} {% block main
%}
<img
  src="\static\fruitmachine\spin!spin!spin!.png"
  class="banner"
  alt="Header Image"
  height="60px"
  width="460px"
/>
<br />
<br />
<div id="loginPage" class="login">
  <div class="login-form">
    <div id="gr-category-list-main">
    <div class="row">
<!---------------------------------------------------------------->
      <div class="games-med col-4">
        <a href="/fruitmachine" title="Fruit Machine" onclick="">
          <img
            class="m"
            src="/static/Games/fruit machine icon.png"
            alt="Fruit Machine"
          />
        </a>
        <div class="name">
          <a href="/fruitmachine" onclick="">Fruit Machine</a>
        </div>
      </div>
<!---------------------------------------------------------------->
      <!--
      <div class="games-med col-4">
        <a href="/login" title="login" onclick="">
          <img
            class="m"
            src="/static/Games/fruit machine icon.png"
            alt="login"
          />
        </a>
        <div class="name">
          <a href="/login" onclick="">login</a>
        </div>
      </div>
      -->
<!---------------------------------------------------------------->

</div>
    </div>
  </div>
  {% endblock %}
</div>
