{% extends "layout.html" %} {% block title %}Neo Home{% endblock %} {%
block main %}
<img
  src="/static/Logo/welcome to neo.png"
  class="banner"
  class="banner"
  alt="Header Image"
  height="60px"
  width="460px"
  >
<br>
<br>
<p style="max-width: 460px;">
  Welcome! This is a fan recreation of the internet classic, Neopets. My mission with this project is
  simple: to preserve the essence of Neopets while giving it a fresh, modern
  twist. I've taken the classic layout and given it a modern
  makeover, staying true to the essence Neopets.
</p>
{% endblock %}
